:global {
  .logo-beta {
    font-style: italic;
    color: #A2A2A2;
    margin-left: 2px;
    font-family: 'Georgia, serif';
  }

  .app-container {
    margin-bottom: 50px;
  }

  .feedback-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    .btn {
      border-radius: 999rem;
    }
  }

  .btn-outline-inverse {
    color: #fff;
    background-color: transparent;
    border: 2px solid #FFFFFF;
  }

  .btn-outline-inverse:hover,
  .btn-outline-inverse:focus,
  .btn-outline-inverse:active {
    color: #144e81;
    text-shadow: none;
    background-color: #fff;
    border-color: #fff;
  }

  .app-homepage .navbar {
    margin-bottom: 0px;
  }

  .section {

  }

  .section-title {
    text-align: center;
  }

  .section-view-more {
    display: block;
    padding: 25px 0px 0px;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    color: #5C6163
  }

  .homepage-footer {
    padding-top: 40px;
    padding-bottom: 60px;
    margin-top: 100px;
    color: #91A0B3;
    background-color: #060E19;
  }

  .homepage-footer a {
    color: #c3cbd5;
  }

}
