:global {
  .logo-beta {
    font-style: italic;
    color: #A2A2A2;
    margin-left: 2px;
    font-family: 'Georgia, serif';
  }

  .app-container {
    margin-bottom: 50px;
  }

  .feedback-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    .btn {
      border-radius: 999rem;
    }
  }

  .btn-outline-inverse {
    color: #fff;
    background-color: transparent;
    border: 2px solid #FFFFFF;
  }

  .btn-outline-inverse:hover,
  .btn-outline-inverse:focus,
  .btn-outline-inverse:active {
    color: #144e81;
    text-shadow: none;
    background-color: #fff;
    border-color: #fff;
  }

  .app-homepage .navbar {
    margin-bottom: 0px;
    background-color: #fff;
    border-bottom: 0;
  }

  .app-homepage .navbar-brand, .app-homepage .navbar-nav>li>a {
    color: #000;
  }

  .app-homepage .navbar-brand:focus {
    color: #000;
  }

  .app-homepage h2, .app-homepage h3 {
    font-weight: 400;
  }

  .app-homepage h3 {
    margin-bottom: 28px;
  }

  .app-homepage h4 {
    line-height: 1.3;
  }

  .app-homepage .glassbrain {
    margin-left: -4px;
  }

  .gray {
    color: #7B7B7B;
  }

  .section-title {
    text-align: center;
  }

  .section-view-more {
    padding: 25px 0px 10px;
    text-align: center;
  }

  .section-view-more a {
    text-transform: uppercase;
    font-size: 12px;
    color: #5C6163;
  }

  .subsection {
    padding-top: 22px;
  }

  .how-to {
    padding-top: 40px;
    padding-bottom: 60px
  }

  h2.subsection-title {
    margin-top: 0;
    font-size: 42px;
    font-weight: 200;
  }

  .light-border-bottom {
    border-bottom: 1px solid #DBE5EB;
  }

  .homepage-footer {
    padding-top: 40px;
    padding-bottom: 60px;
    margin-top: 100px;
    color: #91A0B3;
    background-color: #060E19;
  }

  .homepage-footer a {
    color: #c3cbd5;
  }

}
