:global {

  $white: #fff;
  $black: #000;
  $gray64: #A2A2A2;
  $gray: #7b7b7b;
  $light_blue_gray: #dbe5eb;
  $light_blue_gray2: #c3cbd5;
  $blue_gray: #91a0b3;
  $navy: #144e81;
  $dark_navy: #060e19;
  $browser_border_radius: 4px;

  $cta_btn_gradient_from: #f08d08;
  $cta_btn_gradient_to: #da1515;

  .logo-beta {
    font-style: italic;
    color: $gray64;
    margin-left: 2px;
    font-family: 'Georgia, serif';
  }

  .app-container {
    margin-bottom: 50px;
  }

  .feedback-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    .btn {
      border-radius: 999rem;
    }
  }

  .btn-outline-inverse {
    color: $white;
    background-color: transparent;
    border: 2px solid $white;
  }

  .btn-outline-inverse:hover,
  .btn-outline-inverse:focus,
  .btn-outline-inverse:active {
    color: $navy;
    text-shadow: none;
    background-color: $white;
    border-color: $white;
  }

  .app-homepage .navbar {
    margin-bottom: 0px;
    background-color: $white;
    border-bottom: 0;
  }

  .app-homepage .navbar-brand, .app-homepage .navbar-nav>li>a {
    color: $black;
  }

  .app-homepage .navbar-brand:focus {
    color: $black;
  }

  .app-homepage h2, .app-homepage h3 {
    font-weight: 400;
  }

  .app-homepage h3 {
    margin-bottom: 28px;
  }

  .app-homepage h4 {
    line-height: 1.3;
  }

  .app-homepage .glassbrain {
    margin-left: -4px;
  }

  .gray {
    color: $gray;
  }

  .section-title {
    text-align: center;
  }

  .section-view-more {
    padding: 25px 0px 10px;
    text-align: center;
  }

  .section-view-more a {
    text-transform: uppercase;
    font-size: 12px;
    color: $gray;
  }

  .subsection {
    padding-top: 22px;
  }

  .how-to {
    padding-top: 40px;
    padding-bottom: 60px
  }

  .how-to .lead {
    line-height: 1.6;
  }

  h2.subsection-title {
    margin-top: 0;
    font-size: 42px;
    font-weight: 200;
  }

  .light-border-bottom {
    border-bottom: 1px solid $light_blue_gray;
  }

  .browser-title-bar {
    height: 15px;
    padding-left: 6px;
    background-color: $light_blue_gray;
    border-top-left-radius: $browser_border_radius;
    border-top-right-radius: $browser_border_radius;
  }

  .browser-screenshot {
    border: 1px solid $light_blue_gray;
    border-bottom-left-radius: $browser_border_radius;
    border-bottom-right-radius: $browser_border_radius;
  }

  .bottom-cta {
    border-top: 1px solid #e0e9ee;
    padding: 50px 0;
    text-align: center;
    font-size: 170%;
  }

  .bottom-cta .btn {
    margin-left: 25px;
    padding: 13px 30px;
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
    border: none;
    background-color: $cta_btn_gradient_to;
    background-image: -moz-linear-gradient(left,$cta_btn_gradient_from,$cta_btn_gradient_to);
    background-image: -webkit-gradient(linear,0 0,100% 0,from($cta_btn_gradient_from),to($cta_btn_gradient_to));
    background-image: -webkit-linear-gradient(left,$cta_btn_gradient_from,$cta_btn_gradient_to);
    background-image: -o-linear-gradient(left,$cta_btn_gradient_from,$cta_btn_gradient_to);
    background-image: linear-gradient(to right,$cta_btn_gradient_from,$cta_btn_gradient_to);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$cta_btn_gradient_from', endColorstr='$cta_btn_gradient_to', GradientType=1);
    background-repeat: repeat-x;
    color: $white;
    letter-spacing: .07em;
  }

  .bottom-cta .btn:hover {
    background-color: $cta_btn_gradient_from;
    background-image: none;
  }

  .homepage-footer {
    padding-top: 40px;
    padding-bottom: 60px;
    color: $blue_gray;
    background-color: $dark_navy;
  }

  .homepage-footer a {
    color: $light_blue_gray2;
  }
}
