<!DOCTYPE html>
<html>
    <head>
        <style>
          html,
          body {
            height: 100%;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            line-height: 1.3;
          }

          body {
            margin: 0;
          }

          .container {
            position: relative;
            display: table;
            height: 100%;
            max-width: 500px;
            margin: 0 auto;
            padding-top: 100px;
            text-align: center;
          }
        </style>
    </head>
    <body>
        <div class="container">
            <h1>Our apologies, your browser is currently not supported.</h1>
            <p>We recommend using Google Chrome to access this web service at this time.</p>
            <p><a href="https://www.google.com/intl/en/chrome/browser/" target="_blank">Google Chrome Download Page</a></p>
        </div>
    </body>
</html>
