*.py[cod]
*.cfgc

celerybeat-schedule.db
celerydb.sqlite
celeryresults.sqlite
media
nv_tmp
activate-venv.sh
fabfile.py
cache/

server/nlweb/static/app
server/nlweb/templates/index.html

# dotenv
.env
production.env

# C extensions
*.so

# Packages
*.egg
*.egg-info
app/build
eggs
parts
var
dist
sdist
develop-eggs
.installed.cfg
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml
webapp/coverage

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Complexity
output/*.html
output/*/index.html

# Sphinx
docs/_build

# Virtualenvs
env

node_modules
