:local(.root) {
 h3 {
    font-size: 18px;
 }

 img {
    float: left;
    padding: 5px 20px;
 }

 p {
    marging: 10px;
 }

 button {
    margin-top: 54px;
 }

 .number-of-images h3 {
    font-size: 26px;
    margin-bottom: 0px;
 }

}
