<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Neurolearn</title>
    <style>
        p.loading {
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            text-align: center;
            margin-top: 10vh;
        }
    </style>
    <script>
        var jwt = {{ token | tojson | safe }};
        function setToken() {
            localStorage.setItem('jwt', jwt);
            window.location = "/dashboard/models";
        }
    </script>
</head>
<body onload="window.setTimeout(setToken, 1);">
    <p class="loading">Loading…</p>
</body>
</html>
