.root :global {
  td.image-label {
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
    border-right: 1px solid #979797;
    border-left: 1px solid #eee;
    width: 90%;
  }

  td.chart-cell {
    position: relative;
    vertical-align: top;
    border-bottom: 1px solid #eee;
    border-right: 1px solid #979797;
  }

  td.low-chart {
    border-top: 1px solid #eee;
  }

  td.high-chart {
    border: 1px solid #eee;
    border-right: 1px solid #979797;
  }

  .tick {
    color: #ABABAB;
    font-size: 10px;
    padding: 0px 2px;
  }

  .bar-chart {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #d8d8d8;
    height: 30px;
  }

  .bar-label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .bar-negative {
    background-color: #edaeab;
    right: 0;
  }

  .bar-positive {
    background-color: #afcee9;
  }

  .bar-label-positive {
    left: 8px;
  }

  .bar-label-negative {
    right: 8px;
  }
}
