.viewing :global {
  .edit {
    display: none;
  }
  .view {
    display: block;
  }

  .action {
    padding: 8px 10px;
    color: #777;
  }

  .action:hover {
    color: #333;
    cursor: pointer;
  }
}

.editing :global {
  .edit {
    display: block;
  }
  .view {
    display: none;
  }
}
