.from {
  width: 38%;
  float: left;
  margin-bottom: 6px;
}

.sep {
  float: left;
  padding: 6px;
}

.to {
  width: 38%;
  float: left;
  margin-bottom: 6px;
}

.stats {
  composes: small-text from "shared/typography.css";
  font-size: 10px;
  margin-top: 5px;
}

.root {
  composes: bottom-separator from "shared/borders.css";
  margin-bottom: 2px;
}

.root :global {

  .clear-filter {
    color: #b3b3b3;
  }

  .clear-filter:hover {
    color: #8f8f8f;
    cursor: pointer;
  }

  .empty-filter .clear-filter {
    display: none;
  }

  .slider {
    width: 100%;
    max-width: 500px;
    height: 38px;
  }
  .handle {
    font-size: 0.9em;
    text-align: center;
    background-color: rgb(94, 94, 94);
    color: white;
    cursor: pointer;
  }
  .handle.active {
    background-color: grey;
  }
  .bar {
    position: relative;
    cursor: pointer;
    background-color: #f7f7f7;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f0f0f0), to(#f9f9f9));
    background-image: linear-gradient(to bottom, #f0f0f0, #f9f9f9);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff0f0f0', endColorstr='#fff9f9f9', GradientType=0);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  }
  .bar.bar-1 {
    background: #428bca;
  }
  $slider-handle: 4px;
  .slider .bar {
    top: $slider-handle + 7px;
    height: 5px;
  }
  .slider .handle {
    top: $slider-handle;
    width: 5px;
    height: 20px;
    border-radius: 2px;
  }
}
