:local(.root) {

  h3 {
    font-size: 18px;
    line-height: 130%;
    margin-top: 0;
  }

  button {
    margin: 0;
  }

  p {
    font-size: 12px;
    color: gray;
  }

  .title {
    float: left;
    width: 50%;
    margin: 5px;
  }

  .images {
    float: left;
    width: 27%;
    margin: 5px;
  }

  .button {
    float: left;
    width: 18%;
    margin: 5px;
  }
}

:local(.root) {
  border-top: 1px solid rgb(204, 204, 204);
  padding: 10px;
}

:local(.root:first-child) {
  border-top: none;
}
