.root {
  composes: top-separator from "shared/borders.css";
  padding-top: 10px;
  padding-bottom: 15px;

  margin-bottom: 10px;

  :global .checkbox {
    margin-bottom: 0;
    margin-top: 0;
  }

  :global .form-group {
    margin-bottom: 2px;
  }

  :global .clear-filter {
    color: #b3b3b3;
  }

  :global .clear-filter:hover {
    color: #8f8f8f;
    cursor: pointer;
  }

  :global .empty-filter .clear-filter {
    display: none;
  }
}
