.root :global {
  .tabs-wrapper {
    margin-top: 25px;
  }
  .weightmap {
    margin-top: 25px;
  }
  .images-number {
    font-size: 18px;
  }

  .overview thead tr {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;
  }

  .right-sidebar {
    border-left: 1px solid #eee;
    padding-left: 15px;
  }

  .visibility-label {
    margin-left: 7px;
    padding: 4px 5px 3px;
    font-size: 11px;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: middle;
    border-radius: 3px;
  }

  .visibility-label:hover {
    cursor: pointer;
  }

  .visibility-private {
    background-color: #f0ad4e;
  }

  .visibility-public {
    border: solid 1px #969696;
  }

  .editable-text-label {
    padding: 3px;
    margin-left: -3px;
    border-radius: 3px;
  }

  .editable-text-label:hover {
    background-color: #eee;
    cursor: pointer;
  }
}

:global li.active > a:focus {
    outline:0;
}

:global .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 101%;
    background: rgba(255, 255, 255, 0.8);
    z-index: 10;
}
